<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>mine_vip</string>
			<key>title</key>
			<string>我的VIP</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_coin</string>
			<key>title</key>
			<string>充值妖气币</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>mine_accout</string>
			<key>title</key>
			<string>消费记录</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_subscript</string>
			<key>title</key>
			<string>我的订阅</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_seal</string>
			<key>title</key>
			<string>我的封印图</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>mine_message</string>
			<key>title</key>
			<string>我的消息/优惠券</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_cashew</string>
			<key>title</key>
			<string>妖果商城</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_freed</string>
			<key>title</key>
			<string>在线阅读免流量</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>mine_feedBack</string>
			<key>title</key>
			<string>帮助中心</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_mail</string>
			<key>title</key>
			<string>我要反馈</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_judge</string>
			<key>title</key>
			<string>给我们评分</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_author</string>
			<key>title</key>
			<string>成为作者</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>mine_setting</string>
			<key>title</key>
			<string>设置</string>
		</dict>
	</array>
</array>
</plist>
